<md-progress-linear md-mode="indeterminate" class="md-primary md-hue-1"></md-progress-linear>

<md-content class="ap-bg-grey" flex layout-padding>
  <md-card layout-padding>
    <h3 class="md-title">Recover password</h3>
    <form name="forgetForm" method="post" novalidate>

      <md-input-container class="md-block">
        <label>Registered email address</label>
        <md-icon>email</md-icon>
        <input type="email" ng-model="user.email" name="email" required>
        <div ng-messages="forgetForm.email.$error" role="alert">
          <div ng-message-exp="['required','email']">Enter a valid email.</div>
        </div>
      </md-input-container>

      <div layout="column" layout-align="center center">
        <md-button type="submit" class="md-raised md-primary">Request new password</md-button>
        <md-button type="button" class="md-accent" ui-sref="login">Back to login</md-button>
      </div>

    </form>
  </md-card>
</md-content>
