<md-progress-linear md-mode="indeterminate" class="md-primary md-hue-1"></md-progress-linear>

<md-content class="ap-bg-grey" layout="column" layout-padding layout-align="center center">
  <md-card layout-padding flex-gt-xs="60">

    <div layout="column" flex layout-align="center center">
      <img src="img/logo.svg" height="100" alt="logo">
      <p class="md-subhead">Request for a new password by entering your registered email</p>
    </div>

    <form name="forgetForm" method="post" novalidate ng-submit="$ctrl.doRequest($ctrl.user)">

      <md-input-container class="md-block">
        <label>Email address</label>
        <md-icon>email</md-icon>
        <input type="email" ng-model="$ctrl.user.email" name="email" required>
        <div ng-messages="forgetForm.email.$error" role="alert">
          <div ng-message="email">Enter a valid email.</div>
        </div>
      </md-input-container>

      <div layout="row">
        <md-button flex type="submit" ng-disabled="forgetForm.$invalid" class="md-raised md-primary">Request new
          password
        </md-button>
      </div>

    </form>

  </md-card>

  <div layout="column" layout-align="center center">
    <md-button md-no-ink type="button" class="md-accent" ui-sref="login">Back to login</md-button>
  </div>
</md-content>
