<md-toolbar layout="row" ng-hide="$ctrl.showSearchBar">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Sidebar" ng-click="$ctrl.openSideNav()" hide-gt-md>
      <md-icon>menu</md-icon>
    </md-button>
    <h2 class="md-title">
      Cart
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Home" ui-sref="products">
      <md-tooltip>Home</md-tooltip>
      <md-icon>home</md-icon>
    </md-button>
    <md-menu>
      <md-button class="md-icon-button" ng-click="$ctrl.openMenu($mdOpenMenu, $event)" aria-label="More">
        <md-icon>more_vert</md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button>
            <md-icon>sort_by_alpha</md-icon>
            A-Z
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>
            <md-icon>reorder</md-icon>
            Re-order
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>

<sidenav-left></sidenav-left>

<md-content layout="column" layout-fill flex>

  <div layout="row" flex>
    <md-progress-linear md-mode="indeterminate" class="md-primary md-hue-1"></md-progress-linear>
  </div>

  <md-list>
    <div ng-repeat="n in [1,2,3]">
      <md-list-item class="md-3-line">
        <div class="md-list-item-text" layout="column">
          <h3>Product {{n}} name</h3>
          <h4>SKU: 457894445</h4>
          <p>
            Here is the brief description of this item
          </p>
        </div>
        <md-button class="md-icon-button md-secondary" ng-click="$ctrl.confirmDelete($event)" aria-label="Delete">
          <md-icon>delete</md-icon>
        </md-button>
      </md-list-item>
      <md-divider ng-hide="$last"></md-divider>
    </div>
  </md-list>

  <div layout="column" layout-align="center center">
    <md-button type="submit" class="md-raised md-primary" ui-sref="payment">Checkout</md-button>
  </div>

</md-content>

