
<md-content class="ap-bg-grey" layout="column" layout-padding layout-align="center center">
  <md-card layout-padding flex-gt-xs="60">

    <div layout="column" flex layout-align="center center">
      <img src="img/logo.svg" height="100" alt="logo">
      <p class="md-subhead">Sign-in to Angular Material App</p>
    </div>

    <form name="loginForm" method="post" novalidate ng-submit="$ctrl.doLogin($ctrl.user)">

      <md-input-container class="md-block">
        <label>Email address</label>
        <md-icon>email</md-icon>
        <input type="email" ng-model="$ctrl.user.email" name="email" required>
        <div ng-messages="loginForm.email.$error" role="alert">
          <div ng-message="required">This is required.</div>
          <div ng-message="email">Enter a valid email.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Password</label>
        <md-icon>lock</md-icon>
        <input type="password" ng-model="$ctrl.user.password" name="password" required>
        <div ng-messages="loginForm.password.$error" role="alert">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <div layout="row" layout-align="center center">
        <md-button flex type="submit" ng-disabled="loginForm.$invalid" class="md-raised md-primary">Login
        </md-button>
      </div>

      <div layout="row" layout-xs="column" layout-align="center center">
        <md-button md-no-ink type="button" ui-sref="forget-password">Forget password ?</md-button>
        <span flex hide-xs></span>
        <md-button md-no-ink type="button" class="md-accent" ui-sref="register">New User ?</md-button>
      </div>

    </form>
  </md-card>

  <div layout="column" layout-align="center center">
    <md-button md-no-ink type="button" class="md-primary" ui-sref="products">Skip to products</md-button>
  </div>

</md-content>
