<md-progress-linear md-mode="indeterminate" class="md-primary md-hue-1"></md-progress-linear>

<md-content class="ap-bg-grey" flex layout-padding>
  <md-card layout-padding>
    <h3 class="md-title" md-colors="{color:'accent'}">Sign-up</h3>

    <form name="signupForm" method="post" novalidate ng-submit="$ctrl.doRegister($ctrl.user)">
      <md-input-container class="md-block">
        <label>First name</label>
        <md-icon>person</md-icon>
        <input type="text" ng-model="$ctrl.user.fname" name="fname" required>
        <div ng-messages="signupForm.fname.$error" role="alert">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Last name</label>
        <md-icon>person</md-icon>
        <input type="text" ng-model="$ctrl.user.lname" name="lname" required>
        <div ng-messages="signupForm.lname.$error" role="alert">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Email address</label>
        <md-icon>email</md-icon>
        <input type="email" ng-model="$ctrl.user.email" name="email" required>
        <div ng-messages="signupForm.email.$error" role="alert">
          <div ng-message="email">Enter a valid email.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Password</label>
        <md-icon>https</md-icon>
        <input type="password" ng-model="$ctrl.user.password" name="password" required>
        <div ng-messages="signupForm.password.$error" role="alert">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <md-radio-group layout="row" layout-align="center center" ng-model="$ctrl.user.type" ng-required="true" name="type">
          <md-radio-button value="1"> Customer</md-radio-button>
          <md-radio-button value="2">  Supplier</md-radio-button>
        </md-radio-group>
      </md-input-container>

      <div layout="column" layout-align="center center">
        <md-button type="submit" class="md-raised md-primary" ng-disabled="signupForm.$invalid">Register</md-button>
        <md-button class="md-accent" ui-sref="login">Already have an account ?</md-button>
      </div>

    </form>
  </md-card>

</md-content>
