<md-toolbar layout="column" class="md-primary md-whiteframe-1dp">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Back" ap-go-back>
      <md-icon>arrow_back</md-icon>
    </md-button>
    <h2 class="md-title">
      Profile
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Save" ng-disabled="profileForm.$invalid"
               ng-click="$ctrl.saveAndExit($ctrl.user)">
      <md-icon>done</md-icon>
    </md-button>
  </div>
</md-toolbar>


<md-content layout="column" flex layout-padding>

  <form name="profileForm" method="post" novalidate ng-submit="$ctrl.updateProfile($ctrl.user)">

    <md-input-container class="md-block">
      <label>Your name</label>
      <input type="text" ng-model="$ctrl.user.name" name="name" required>
      <div ng-messages="profileForm.name.$error" role="alert">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Email address</label>
      <input type="email" ng-model="$ctrl.user.email" name="email" required>
      <div ng-messages="profileForm.email.$error" role="alert">
        <div ng-message="required">This is required.</div>
        <div ng-message="email">Enter a valid email.</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Address</label>
      <textarea ng-model="$ctrl.user.address" md-maxlength="500" rows="2" md-select-on-focus></textarea>
      <div ng-messages="profileForm.address.$error" role="alert">
        <div ng-message="required">This is required.</div>
        <div ng-message="maxlength">Max length is 500</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Phone number</label>
      <input type="number" ng-model="$ctrl.user.phone" name="phone">
      <div ng-messages="profileForm.phone.$error" role="alert">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>


    <div layout="row" layout-lg="column" layout-align="center center">
      <md-button flex flex-lg="0" type="submit" class="md-raised md-primary">Update Profile</md-button>
    </div>

  </form>

  <md-divider></md-divider>

  <h3 class="md-body-2" md-colors="{color:'accent'}">Change your password</h3>

  <form name="passForm" method="post" novalidate ng-submit="$ctrl.changePassword($ctrl.password)">

    <md-input-container class="md-block">
      <label>Old Password</label>
      <input type="password" ng-model="$ctrl.password.old" name="old" required>
      <div ng-messages="passForm.old.$error" role="alert">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>New password</label>
      <input type="password" ng-model="$ctrl.password.new" name="new" required>
      <div ng-messages="passForm.new.$error" role="alert">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Retype new password</label>
      <input type="password" ng-model="$ctrl.password.retype" name="retype" required
             ap-matcher="{{$ctrl.password.new}}">
      <div ng-messages="passForm.retype.$error" role="alert">
        <div ng-message="required">This is required.</div>
        <div ng-message="matcher">Password should be same as above.</div>
      </div>
    </md-input-container>

    <div layout="row" layout-lg="column" layout-align="center center">
      <md-button flex flex-lg="0" type="submit" class="md-raised md-primary">Change Password</md-button>
    </div>

  </form>

</md-content>


