
<!-- The top toolbar -->
<md-toolbar layout="column" ng-hide="$ctrl.showSearchBar">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Sidebar" ng-click="$ctrl.toggleSideNav()">
      <md-icon>menu</md-icon>
    </md-button>
    <h2>
      <span class="md-title">Demo app</span>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Search" ng-click="$ctrl.showSearchBar=true">
      <md-tooltip>Search</md-tooltip>
      <md-icon>search</md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Cart">
      <md-tooltip>Cart</md-tooltip>
      <md-icon>shopping_cart</md-icon>
    </md-button>
  </div>
</md-toolbar>

<!-- top search bar -->
<md-toolbar layout="column" class="md-hue-1 md-primary" ng-show="$ctrl.showSearchBar">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Back" ng-click="app.showSearchBar=false">
      <md-tooltip>Back</md-tooltip>
      <md-icon>arrow_back</md-icon>
    </md-button>
    <md-input-container  md-no-float flex>
      <input ng-model="search" class="top-search" placeholder="Search here">
    </md-input-container>
    <md-button class="md-icon-button" aria-label="Search">
      <md-tooltip>Search</md-tooltip>
      <md-icon>search</md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="More">
      <md-icon>more_vert</md-icon>
    </md-button>
  </div>
</md-toolbar>
