<md-toolbar layout="column" class="md-medium-tall md-whiteframe-1dp">
  <!-- primary toolbar -->
  <div class="md-toolbar-tools" ng-hide="$ctrl.showSearchBar">
    <md-button class="md-icon-button" aria-label="Sidebar" ng-click="$ctrl.openSideNav()">
      <md-icon>menu</md-icon>
    </md-button>
    <h2 class="md-title">
      Products
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Search" ng-click="$ctrl.showSearchBar=true">
      <md-icon>search</md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Cart" ui-sref="cart">
      <md-icon>shopping_cart</md-icon>
    </md-button>
  </div>
  <!-- search bar -->
  <div class="md-toolbar-tools" ng-show="$ctrl.showSearchBar">
    <md-button class="md-icon-button">
      <md-icon>search</md-icon>
    </md-button>
    <md-input-container md-no-float flex>
      <input ng-model="search" class="ap-toolbar-search" placeholder="Search ...">
    </md-input-container>
    <md-button class="md-icon-button" aria-label="close" ng-click="$ctrl.showSearchBar=false">
      <md-icon>close</md-icon>
    </md-button>
  </div>
  <!-- secondary toolbar -->
  <section layout="row" flex layout-align="end center">
    <md-button class="md-icon-button" aria-label="Layout" ng-click="$ctrl.view=!$ctrl.view">
      <md-icon ng-show="$ctrl.view">view_list</md-icon>
      <md-icon ng-show="!$ctrl.view">view_module</md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Filter" ng-click="$ctrl.showFilter($event)">
      <md-icon>filter_list</md-icon>
    </md-button>
  </section>
</md-toolbar>

<sidenav-left></sidenav-left>

<md-content class="ap-bg-grey" flex>
  <md-subheader class="md-accent">
    <span ng-show="!$ctrl.showSearchBar">Latest products</span>
    <span ng-show="$ctrl.showSearchBar">Search results</span>
  </md-subheader>

  <div layout="column" flex layout-align="center center" layout-padding>
    <md-progress-circular class="md-primary md-hue-1" md-mode="indeterminate"></md-progress-circular>
    <div layout-padding>
      Loading ...
    </div>
  </div>

  <!--
  todo implement md-virtual-repeat
  @link https://github.com/angular/material/issues/4314
  -->
  <md-card ng-repeat="n in [1,2,3,4,5,6,7,8,9,10,11,12]">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Product {{n}} name</span>
        <span class="md-subhead">24in X 36in</span>
        <span class="md-subhead">$350</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media"></div>
      </md-card-title-media>
    </md-card-title>
    <md-divider></md-divider>
    <md-card-actions layout="row" flex>
      <md-button ui-sref="product({id:n})">Product details</md-button>
      <span flex></span>
      <div layout-align="end center">
        <md-button class="md-icon-button">
          <md-icon ng-show="!$first">favorite_border</md-icon>
          <md-icon ng-show="$first" md-colors="{color:'accent'}">favorite</md-icon>
        </md-button>
        <md-button class="md-icon-button">
          <md-icon ng-show="!$first">add_shopping_cart</md-icon>
          <md-icon ng-show="$first" md-colors="{color:'accent'}">remove_shopping_cart</md-icon>
        </md-button>
      </div>
    </md-card-actions>
  </md-card>

</md-content>

