<div layout="column">

  <md-progress-linear md-mode="indeterminate" class="md-primary md-hue-1"></md-progress-linear>

  <md-button class="md-fab md-fab-bottom-right md-accent md-hue-2" aria-label="Add">
    <md-icon>add</md-icon>
  </md-button>

  <md-subheader class="md-primary mh-hue-3">
    <div class="md-toolbar-tools">
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Filter">
        <md-icon>view_list</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Filter">
        <md-icon>view_module</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Filter">
        <md-icon>filter_list</md-icon>
      </md-button>
    </div>
  </md-subheader>

  <md-list layout="column" layout-padding>
    <md-list-item class="md-3-line" md-ink-ripple>
      <div class="md-list-item-text">
        <h3>Person name</h3>
        <h4>Phone: 457894445</h4>
        <p>
          Here is the brief description of this product
        </p>
      </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item class="md-3-line" md-ink-ripple>
      <div class="md-list-item-text">
        <h3>Person 2 name</h3>
        <h4>Phone: 4578987645</h4>
        <p>
          Here is the brief description of this product
        </p>
      </div>
    </md-list-item>
  </md-list>

</div>
