/* Custom class names are prefixed with 'ap' */

/**
*  Workaround : input field in toolbar
*/
.ap-toolbar-search {
  margin-top: 24px !important;
  margin-bottom: 0;
}

/**
* Workaround: ripple effect on md-card
*/
md-card[md-ink-ripple] {
  position: relative;
}

/*
* Set a background for media until it loads image
*/
.card-media {
  background: #ccc;
}

/*
* background color for card container
*/
.ap-bg-grey {
  background-color: #eee;
}
