/* Custom class names are prefixed with 'ap' */

html {
  /* Disable 300 ms delay */
  touch-action: manipulation;
  /* Detter font rendering*/
  text-rendering: optimizeLegibility;
}

/* Disable selection/copy */
*:not(input):not(textarea) {
  user-select: none;
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}

/**
*  Workaround : input field in toolbar
*/
.ap-toolbar-search {
  margin-top: 24px !important;
  margin-bottom: 0;
}

/*
* Set a background for media until it loads image
*/
.card-media {
  background-color: #ccc;
}

/*
* Background color for card container
*/
.ap-bg-grey {
  background-color: #EEEEEE;
}
