
<md-toolbar layout="row" ng-hide="$ctrl.showSearchBar">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Sidebar" ng-click="$ctrl.openSideNav()" hide-gt-md>
      <md-icon>menu</md-icon>
    </md-button>
    <h2>
      <span class="md-title">Purchase History</span>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="Search" ui-sref="products">
      <md-tooltip>Home</md-tooltip>
      <md-icon>home</md-icon>
    </md-button>
    <md-menu>
      <md-button class="md-icon-button" ng-click="$ctrl.openMenu($mdOpenMenu, $event)" aria-label="More">
        <md-icon>more_vert</md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button>
            <md-icon>sort_by_alpha</md-icon>
            A-Z
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>
            <md-icon>reorder</md-icon>
            Re-order
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>

<div layout="row" flex>

  <sidenav-left></sidenav-left>

  <md-content flex layout="column">

    <div layout="row" flex>
      <md-progress-linear md-mode="indeterminate" class="md-primary md-hue-1"></md-progress-linear>
    </div>

    <md-list>
      <md-list-item class="md-3-line" md-ink-ripple>
        <div class="md-list-item-text">
          <h3>Product name</h3>
          <h4>SKU: 457894445</h4>
          <p>
            Here is the brief description of this item
          </p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-3-line" md-ink-ripple>
        <div class="md-list-item-text">
          <h3>Product 2 name</h3>
          <h4>SKU: 4578987645</h4>
          <p>
            Here is the brief description of this item
          </p>
        </div>
      </md-list-item>
    </md-list>

  </md-content>
</div>
